.overview {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;

  .cards {
    grid-area: 1 / 1 / 2 / 5;
    border-radius: 10px;
    overflow: hidden;
  }
  .lineChart {
    grid-area: 2 / 1 / 4 / 4;
    background-color: var(--primary-black);
  }
  .donutChart {
    grid-area: 2 / 4 / 4 / 5;
    background-color: var(--primary-black);
    padding: 20px;
  }
  .topProducts {
    grid-area: 4 / 1 / 5 / 4;
    background-color: var(--primary-black);
    border-radius: 10px;
  }
  .upgrade {
    grid-area: 4 / 4 / 5 / 5;
    padding: 20px;
    text-align: center;
    background-color: #2a4b52 !important;
    background: url("/public/vector.svg") right / 100% 100% no-repeat;

    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
}
